<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>	
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
	          <a class="extra" href="/cv/">cv</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Wanda B. Boyer<br />
                MSc. - UVic Department of Computer Science<br />
                wbkboyer@gmail.com 
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/wbkboyer">github.com/wbkboyer</a><br />
                <a href="https://bsky.app/profile/wbkboyer.bsky.social">wbkboyer.bsky.social</a><br />
                <a href="http://wandabee.deviantart.com">DeviantArt Gallery</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
